@charset 'utf-8';

// 全局变量(old)
$bg-color: #24272c; // 整体背景色
$font-color--normal: #fff; // 整体文字色
$font-color--active: #97a1ac; // 鼠标移入后文字色
$common-color: #ff93a0; // 常用主题色
$border-color: #3e4c5a; //常用border色 配合整体背景色调使用
$font-color--footer: #8f9dae; //页脚默认字体颜色

// 黑夜模式 全局主题变量
$bg-night-color: #24272c; // 整体背景色

// 白天模式 全局主题变量
$bg-day-color: #ffffff; // 整体背景色


